.main {
  text-align: center;
}

#all-employees-triangle {
    margin-right: 8px;
}

#employee-list {
    color: rgb(90, 196, 125);
}

.employee-name {
    font-size: 18px;
    font-weight: bold;
    padding-left: 8px;
}

.employee-card{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 4px;
    border-bottom: 1px lightgrey solid;
}

.profile-pic {
    background-color: lightgrey;
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.profile-pic i {
    color: white;
}

.employee-info-box {
    display: flex;
    align-items: center;
}

.supervisor-sign {
    color: rgb(101, 156, 245);
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
}
